.form {
    display: flex;
}

.form input {
    flex: 1;
    outline: none;
    border: none;
    border-bottom: 1px solid lightseagreen;
}

.create-button {
    padding: 5px;
    background-color: brown;
    color: aliceblue;
    cursor: pointer;
}

.create-button:hover {
    background-color: darkseagreen  ;
}