.checked {
    color: coral;
}

.todo-item {
    padding: 20px;
    display: flex;
    cursor: pointer;
}

.todo-item:hover {
    background-color: lightpink;
}

.todo-item:hover .remove {
    opacity: 1;
}

.remove{
    margin-right: 5px;
    opacity: 0;
}

.todo-text {
    flex: 1;
}