.App {
  margin: 50px;
  text-align: center;
}

table{
  width: 100%;
}

tr{
  margin:50px;
}

.table-title{
  background-color: #4CAF50;
  font-size: 20px;
  color:white;
  
}

.space{
  height: 100px;
}

.result{
  background-color: #4CAF50;
  font-size: 20px;
  color:white;
}

.total-price{
  font-size: 20px;
  text-align: right;
  padding-right:20px;
}

.btn{
    cursor: pointer;
}